.productDesc {
    padding: 30px;
    min-height: 500px;
}
.cartBox {
    padding: 30px 60px;
}
.cartBox .text-right {
    text-align: right;
}
.productDesc img {
    height: 300px;
    max-width: 100%;
    float: right;
}
p {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-size: 21px;
    color: dimgrey;
}
h1, h2, h3 {
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
}
